@font-face {font-family: font-eksi;src: url('./assets/font/eksi-font.ttf');}
.eksi-nav{box-shadow: inset 0px -5px 0px 0px rgb(255, 255, 255);color:rgb(73, 73, 73);}
.eksi-nav :hover {
  box-shadow: inset 0px -5px 0px 0px rgb(129, 193, 75);
  color: rgb(129, 193, 75);
  transition: all 0.2s;
}
.eksi-search{border: 1px solid #81C14B;}
.eksi-search-box{background-color:rgb(129, 193, 75);}

.eksi-font{font-family: font-eksi;}

.eksi-color{background-color:rgb(129, 193, 75);}

.eksi-logo{color:rgb(129, 193, 75);}

.eksi-stack{background-color:rgb(176, 190, 197);}

.eksi-text{color:rgb(73, 73, 73);}

.eksi-sukela-text{bottom:7px;}
.eksi-share-text{bottom:17px;}

.eksi-sukela{border-color:rgb(73, 73, 73); color:rgb(73, 73, 73); padding: 2px; height: 18px;}
.eksi-sukela:hover{border-color:rgb(129, 193, 75); color:rgb(129, 193, 75); transition: all 150ms}

.eksi-damla-text{border-color:rgb(73, 73, 73); color:rgb(73, 73, 73);}
.eksi-damla-text:hover{border-color:rgb(129, 193, 75); color:rgb(129, 193, 75); transition: all 150ms}

.eksi-dislike{border-color:rgb(73, 73, 73); color:rgb(73, 73, 73); padding: 2px; height: 18px;}
.eksi-dislike:hover{border-color:rgb(255, 82, 34); color:rgb(255, 82, 34); transition: all 150ms}

.eksi-damla{fill:none; stroke:rgb(73, 73, 73); stroke-linejoin:round; stroke-width:10;}
.eksi-damla:hover{fill: #81C14B; stroke:rgb(73, 73, 73);}
.eksi-damla:active{fill: #81C14B; stroke: #81C14B;}

.eksi-share{border-radius: 3px; border-color: rgb(73, 73, 73); color: rgb(73, 73 ,73); padding: 1px; height: 14px;}
.eksi-share:hover{border-color:rgb(129, 193, 75); color:rgb(129, 193, 75); transition: all 150ms}

:is(.eksi-nav) :is(.active){box-shadow: inset 0px -5px 0px 0px rgb(129, 193, 75);
  color: rgb(129, 193, 75);
  transition: all 150ms;}
.eksi-text:has(.active){color:#81C14B; transition: all 150ms}

@media (max-width: 768px) {
  .eksi-mesage{display: none;}
}
@media (max-width: 384px){
  .eksi-search{width: 140px}
}

.eksi-logOut{box-shadow: inset 0px -5px 0px 0px rgb(255, 255, 255);color:rgb(73, 73, 73);}
.eksi-logOut :hover {
  box-shadow: inset 0px -5px 0px 0px rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  transition: all 0.2s;
}

/* Kaydırma çubuğunun rengini ve görünümünü özelleştirme (Webkit tarayıcıları için) */
/* Kaydırma çubuğu arka plan rengi */
::-webkit-scrollbar {
  background-color: transparent; /* Değiştirmek istediğiniz arka plan rengi */
  max-width: 25px;
  min-width: 15px;
}

/* Kaydırma çubuğu çizgi rengi */
::-webkit-scrollbar-thumb {
  background-color: #81c14b; /* Değiştirmek istediğiniz kaydırma çubuğu rengi */
}

/* Kaydırma çubuğu etkili olduğunda boyutu ve şekli */
::-webkit-scrollbar-thumb:hover {
  background-color: #b9ff7f; /* Kaydırma çubuğunun üzerine gelindiğinde rengi */
}

/* Kaydırma çubuğu boyutu */
::-webkit-scrollbar-thumb {
  border-radius: 12px; /* Kaydırma çubuğu köşe yarıçapı */
  border: 5px solid #fff; /* Kaydırma çubuğu kenarlık rengi ve kalınlığı */
}